body {
  margin: 0;
  background-color: aliceblue;
}

.content {
  background-color: bisque;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 4px cadetblue;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  box-sizing: border-box;
  border: 20px;
}

.list-note {
 list-style-type: none;
  padding-left: 0px;
}

.list-item{
  font-size: 1.5em;
  border-bottom: 1px solid;
  padding: 7px;
  margin-bottom: 15px;
}

.inp-note {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 0px 0px 2px 2px orange;
  border-radius: 10px;
  border: none;

}

.inp-note:focus {
  outline: none;
  box-shadow: 0px 0px 4px 4px rgb(234, 215, 0);
}

.inp-note:focus::placeholder {
  font-weight: 900;
}
.del-btn{
  padding: 10px;
  border: none;
  background-color: rgb(174, 0, 0);
  font-weight: 900;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(105, 1, 1);
}


.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn:disabled{
  background-color: #7c7c7c;
  box-shadow: 2px 2px 4px rgb(128, 128, 128);
  color: black;
}
.add-btn {
  padding: 10px;
  border: none;
  color: rgb(0, 255, 242);
  background-color: rgb(0, 84, 96);
  font-weight: 900;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(0, 238, 223);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background:
    linear-gradient(#6975da 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px, #eeee89 90%, #0000) 0 0/20% 100% #5d5fde;
  overflow: hidden;
}

.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation:
    l5-1 .25s .153s infinite steps(5) alternate,
    l5-2 3s infinite linear;
}

@keyframes l5-1 {
  0% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
  }
}

@keyframes l5-2 {
  100% {
    transform: translate(90px)
  }
}

@keyframes l5-0 {
  100% {
    background-size: 120% 100%, 20% 100%
  }

}